*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

main{
    height: 100vh;
    background: whitesmoke url(Imagens/background.jpg) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.link-git{
    padding: .5rem;
    font-size: 2rem;
}

a{
    text-decoration: none;
    color: #E31C2B;
}

p{
    align-self: center;
    position: relative;
    top: 30%;
    left: 10%;
    transform: translateY(-30%);
    bottom: -50%;
    width: 35rem;
    font-size: 1.4rem;
}

.emphasis{
    color: rgb(75, 11, 11);
    font-weight: bold;
}

@media screen and (min-width: 2560px){  
    a{
        font-size: 4rem;
    }
    p{
        left: 8%;
        top: 35%;
        width: 67rem;
        font-size: 2.5rem;
    }

}


@media screen and (max-width: 768px){   
    main{
        background-image: linear-gradient(to top, #3b3838 0%, black 30%);
    }

    a{
        color: whitesmoke;
    }

    p{
        font-size: 13px;
        width: 80vw;
        left: 1vw;
        color: whitesmoke;
    }

    .emphasis{
        color: #da2635;
    }
}