*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

main{
    height: 100vh;
    background: whitesmoke url(Imagens/background.jpg) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.link-git{
    padding: .5rem;
    font-size: 2rem;
}

.cms{
    text-decoration: none;
    color: #E31C2B;
    cursor: pointer;
}

p{
    align-self: center;
    position: relative;
    top: 30%;
    left: 10%;
    transform: translateY(-30%);
    bottom: -50%;
    width: 35rem;
    font-size: 1.4rem;
}

.emphasis{
    color: rgb(75, 11, 11);
    font-weight: bold;
}

@media screen and (min-width: 2560px){  
    a{
        font-size: 4rem;
    }
    p{
        left: 8%;
        top: 35%;
        width: 67rem;
        font-size: 2.5rem;
    }
}


@media screen and (max-width: 892px){   
    main{
        background: url(Imagens/Bacground-mobile.png) no-repeat right bottom;
        background-size: cover;
    }

    a{
        color: whitesmoke;
    }

    p{
        font-size: .7rem;
        width: 82vw;
        left: 1vw;
        top: 20%;
        color: whitesmoke;
    }

    .emphasis{
        color: #ed1c1c;
    }
}

@media screen and (min-width: 550px) and (max-width: 892px){
    p{
        font-size: 1rem;
    }
}

@media screen and (min-width: 450px) and (max-width: 550px){
    p{
        font-size: .9rem;
    }
}

@media screen and (min-width: 390px) and (max-width: 450px){
    p{
        font-size: .8rem;
    }
}
