*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

main{
    height: 100vh;
    background: whitesmoke url(Imagens/background.jpg) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.link-git{
    padding: .5rem;
    font-size: 2rem;
    z-index: 100;
}

.cms{
    text-decoration: none;
    color: #E31C2B;
    cursor: pointer;
}

p{
    align-self: center;
    position: relative;
    top: 30%;
    left: 10%;
    transform: translateY(-30%);
    bottom: -50%;
    width: 38rem;
    font-size: 1.4rem; 
}

.emphasis{
    color: rgb(75, 11, 11);
    font-weight: bold;
    position: relative;   
    display: inline-block;
}

@media screen and (min-width: 2560px){  
    a{
        font-size: 4rem;
    }
    p{
        left: 8%;
        top: 35%;
        width: 67rem;
        font-size: 2.5rem;
    }
}

@media screen and (min-width: 893px){ 
    .div-effect{
        width: 30px;
        height: 30px;
        transition: width .5s, height .5s, border-radius .5s;
    }
    .circle{
        position: absolute;
        border: 2px solid blue;
        border-radius: 60px; 
        background: rgba(255, 255, 255, 0);
    }
    .circleActive{
        width: 60px;
        height: 60px;
        position: absolute;
        border-radius: 60px;
        background: rgba(134, 47, 47, 0.993);
    }
    
    .circleOn{
        width: 300px;
        height: 200px;
        border-radius: 15px;
        background: url(Imagens/andy.jpg);
        z-index: 2;
    }

    .efect{
        background-color: #0625364d;
        height: 0%;
        width: 100%;
        position: absolute;
        bottom: 0;
        transition: height .5s;
    }
    
    .emphasis:hover .efect{
        height: 100%;
    }

}

@media screen and (max-width: 892px){   
    main{
        background: url(Imagens/Bacground-mobile.png) no-repeat right bottom;
        background-size: cover;
    }

    a{
        color: whitesmoke;
    }

    p{
        font-size: .7rem;
        width: 82vw;
        left: 1vw;
        top: 20%;
        color: whitesmoke;
    }

    .emphasis{
        color: #ed1c1c;
    }
}

@media screen and (min-width: 550px) and (max-width: 892px){
    p{
        font-size: 1rem;
    }
}

@media screen and (min-width: 450px) and (max-width: 550px){
    p{
        font-size: .9rem;
    }
}

@media screen and (min-width: 390px) and (max-width: 450px){
    p{
        font-size: .8rem;
    }
}

@media screen and (max-width: 892px){

    @media screen and (orientation: landscape) {
        main{
            background: linear-gradient(180deg, rgb(3 3 18) 59%, rgb(149 5 5) 73%);
        }
    }
}
